*{
    margin: 0;
    padding: 0;
}

.campsBar{
    width: 99%;
    height: 35px;
    background-color: white;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content:right;
    padding: 10px;
    position:fixed;
}
.buttonBar{
    font-family: 'Montserrat';
    font-size: 20px;
    padding: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}
.buttonBar:hover{
    font-size: 21px;
    background-color: rgb(231, 231, 231);
}
.mainScreen{
    background-color: black;
    background-image: linear-gradient(45deg, transparent, rgba(128, 128, 128, 0.4));
    width: 100%;
    height: 650px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
} 
.mainName{
    font-family: 'Zen Kaku Gothic Antique';
    font-size: 45px;
    color: honeydew;
}   
.mainDescription{
    font-family: 'PT Sans Narrow';
    font-size: 25px;
    color: honeydew;
}
.projectsBox{
    background-color: rgb(80, 80, 80);
    width: 100%;
    height: 400px;
}
.txtProjects{
    font-family: 'Montserrat';
    color: honeydew;
    text-decoration: underline;
    padding-top: 40px;
    text-align: center;
}
.contactsBox{
    background-color: rgb(61, 76, 77);
    width: 100%;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contactContainer{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.txtWorking
{
    font-family: 'Zen Kaku Gothic Antique';
    color: honeydew;
    font-size: 50px;
}
a{
    font-family: 'Montserrat';
    font-size: 20px;
    color: honeydew;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
a:link{
    color:honeydew;
    text-decoration: none;
}
a:hover{
    border-width: 2px; /* aqui, cada lado possui uma borda de largura diferente */
    border-radius: 10px;
    border-style:ridge; /* estilos de borda diferentes para cima-baixo e esquerda-direita */
    border-color: honeydew; /* uma cor de borda para cada lado */
    padding: 10px;
    font-size: 22px;
}
.imgsWork{
    width: 20px;
    height: 20px;
    padding-right: 4px;
}
.imgsWork2{
    width: 25px;
    height: 25px;
    padding-right: 4px;
}
footer{
    text-align: center;
    color:honeydew ;
    font-family: 'Zen Kaku Gothic Antique';
    background-color: rgb(61, 76, 77);
}